In [24]:
! pip install selenium
from selenium import webdriver
import pandas as pd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\pernellegamrowski\appdata\roaming\python\python39\site-packages (4.6.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pernellegamrowski\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\pernellegamrowski\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\pernellegamrowski\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: outcome in c:\users\pernellegamrowski\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\pernellegamrowski\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\pernellegamrowski\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pernellegamrowski\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [385]:
driver_path = 'C:\\chromedriver.exe'
driver = webdriver.Chrome(driver_path)

C:\Users\PernelleGamrowski\AppData\Local\Temp\ipykernel_11476\5333146.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(driver_path)

In [386]:
driver.get('https://www.autotrader.co.uk/car-search?postcode=tn132jn&include-delivery-option=on&advertising-location=at_cars&page=1')

## Scraping

In [393]:
price = []
name = []
year = []
typ = []
mileage = []
engine_size = []
power = []
trans = []
fuel = []

for brand in makes:
    driver.get(f'https://www.autotrader.co.uk/car-search?sort=relevance&postcode=tn132jn&radius=1500&make={brand}&include-delivery-option=on&year-to=2023&page=1')
    pgno = driver.find_element('xpath','/html/body/main/div[1]/section[2]/div/header/nav/ul/li[3]/strong[2]').text
    pgint = int(pgno.replace(',',''))
    
    for j in range(1,min(101,pageint)):
        try:
            driver.get(f'https://www.autotrader.co.uk/car-search?sort=relevance&postcode=tn132jn&radius=1500&make=Seat&include-delivery-option=on&year-to=2023&page={j}')
            i = 1
            while True:
                try:
                    try:
                        price.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[2]/div/div[2]/ul/li[{i}]/article/div/div/div[1]/section[1]/div/div/span').text)
                        name.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[2]/div/div[2]/ul/li[{i}]/article/div/div/div[1]/section[2]/h3').text)
                        year.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[2]/div/div[2]/ul/li[{i}]/article/div/div/div[1]/section[2]/ul/li[1]').text)
                        typ.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[2]/div/div[2]/ul/li[{i}]/article/div/div/div[1]/section[2]/ul/li[2]').text)
                        mileage.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[2]/div/div[2]/ul/li[{i}]/article/div/div/div[1]/section[2]/ul/li[3]').text)
                        engine_size.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[2]/div/div[2]/ul/li[{i}]/article/div/div/div[1]/section[2]/ul/li[4]').text)
                        power.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[2]/div/div[2]/ul/li[{i}]/article/div/div/div[1]/section[2]/ul/li[5]').text)
                        trans.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[2]/div/div[2]/ul/li[{i}]/article/div/div/div[1]/section[2]/ul/li[6]').text)
                        fuel.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[2]/div/div[2]/ul/li[{i}]/article/div/div/div[1]/section[2]/ul/li[7]').text)
                        i += 1
                    except: #if there is an advert it will skip one
                        price.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[2]/div/div[2]/ul/li[{i+1}]/article/div/div/div[1]/section[1]/div/div/span').text)
                        name.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[2]/div/div[2]/ul/li[{i+1}]/article/div/div/div[1]/section[2]/h3').text)
                        year.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[2]/div/div[2]/ul/li[{i+1}]/article/div/div/div[1]/section[2]/ul/li[1]').text)
                        typ.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[2]/div/div[2]/ul/li[{i+1}]/article/div/div/div[1]/section[2]/ul/li[2]').text)
                        mileage.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[2]/div/div[2]/ul/li[{i+1}]/article/div/div/div[1]/section[2]/ul/li[3]').text)
                        engine_size.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[2]/div/div[2]/ul/li[{i+1}]/article/div/div/div[1]/section[2]/ul/li[4]').text)
                        power.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[2]/div/div[2]/ul/li[{i+1}]/article/div/div/div[1]/section[2]/ul/li[5]').text)
                        trans.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[2]/div/div[2]/ul/li[{i+1}]/article/div/div/div[1]/section[2]/ul/li[6]').text)
                        fuel.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[2]/div/div[2]/ul/li[{i+1}]/article/div/div/div[1]/section[2]/ul/li[7]').text)
                        i += 1
                except: #when it comes to the end of the page the loop will end 
                    break
        except:
            break

        print(j)
        #taking 12 values per page as last val is ad
        price = price[:12*j]
        name = name[:12*j]
        year = year[:12*j]
        typ = typ[:12*j]
        mileage = mileage[:12*j]
        engine_size = engine_size[:12*j]
        power = power[:12*j]
        trans = trans[:12*j]
        fuel = fuel[:12*j]
    

        

autotrader = pd.DataFrame({'name':name,
                          'price':price,
                          'year':year,
                          'type':typ,
                          'mileage':mileage,
                          'engine_size':engine_size,
                          'power':power,
                          'transmission':trans,
                          'fueltype':fuel})
autotrader

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

,name,price,year,type,mileage,engine_size,power,transmission,fueltype
0,SEAT Arona,"£12,100",2019 (69 reg),SUV,"29,944 miles",1.0L,94BHP,Manual,Petrol
1,SEAT Ibiza,"£2,395",2009 (09 reg),Hatchback,"104,293 miles",1.4L,85PS,Manual,Petrol
2,SEAT Leon,"£2,495",2009 (59 reg),Hatchback,"75,000 miles",1.6L,103PS,Manual,Petrol
3,SEAT Ibiza,"£2,800",2009 (58 reg),Hatchback,"84,000 miles",1.2L,70PS,Manual,Petrol
4,SEAT Ibiza,"£4,950",2012 (61 reg),Hatchback,"63,419 miles",1.4L,85BHP,Manual,Petrol
...,...,...,...,...,...,...,...,...,...
607,SEAT Altea Xl,"£4,400",2010 (60 reg),MPV,"69,400 miles",1.6L,105PS,Manual,Diesel
608,SEAT Ibiza,"£8,079",2016 (16 reg),Hatchback,"24,590 miles",1.0L,75PS,Manual,Petrol
609,SEAT Ibiza,"£8,079",2016 (16 reg),Hatchback,"24,590 miles",1.0L,75PS,Manual,Petrol
610,SEAT Ateca,"£14,300",2019 (19 reg),SUV,"44,520 miles",1.0L,113BHP,Manual,Petrol
611,SEAT Leon,"£10,990",2018 (67 reg),Hatchback,"40,000 miles",1.2L,110PS,Manual,Petrol

In [394]:
autotrader.to_csv('autotrader_seat.csv')

In [264]:
at1 = pd.read_csv('autotrader_1.csv', index_col = 0 )
at2 = pd.read_csv('autotrader_2_1.csv', index_col = 0 )
at3 = pd.read_csv('autotrader_2_2.csv', index_col = 0 )
at4 = pd.read_csv('autotrader_3.csv', index_col = 0 )
at5 = pd.read_csv('autotrader_4_1.csv', index_col = 0 )
at6 = pd.read_csv('autotrader_4_2.csv', index_col = 0 )
at7 = pd.read_csv('autotrader_5.csv', index_col = 0 )
at8 = pd.read_csv('autotrader_6.csv', index_col = 0 )
at9 = pd.read_csv('autotrader_6_2.csv', index_col = 0 )
at10 = pd.read_csv('autotrader_6_3.csv', index_col = 0 )
at11 = pd.read_csv('autotrader_7.csv', index_col = 0 )
at12 = pd.read_csv('autotrader_7_2.csv', index_col = 0 )
at13 = pd.read_csv('autotrader_7_3.csv', index_col = 0 )
at14 = pd.read_csv('autotrader_8.csv', index_col = 0 )
at15 = pd.read_csv('autotrader_9.csv', index_col = 0 )
at16 = pd.read_csv('autotrader_10.csv', index_col = 0 )
at17 = pd.read_csv('autotrader_13.csv', index_col = 0 )

In [395]:
at24 = pd.read_csv('autotrader_citroen.csv',index_col = 0)
at25 = pd.read_csv('autotrader_honda.csv',index_col = 0)
at26 = pd.read_csv('autotrader_kia.csv',index_col = 0)
at27 = pd.read_csv('autotrader_mini.csv',index_col = 0)
at28 = pd.read_csv('autotrader_mazda.csv',index_col = 0)
at29 = pd.read_csv('autotrader_peugeot.csv',index_col = 0)
at30 = pd.read_csv('autotrader_skoda.csv',index_col = 0)
at31 = pd.read_csv('autotrader_seat.csv',index_col = 0)

In [272]:
at = pd.concat([at1,at2,at3,at4,at5,at6,at7,at8,at9,at10,at11,at12,at13,at14,at15,at16,at17])

In [396]:
at2 = pd.concat([at24,at25,at26,at27,at28,at29,at30,at31])

In [273]:
at.to_csv('autotrader_dirty.csv')

In [397]:
at2.to_csv('autotrader_dirty3.csv', index = False)

In [399]:
at = pd.read_csv('autotrader_dirty3.csv')
at

,name,price,year,type,mileage,engine_size,power,transmission,fueltype
0,Citroen C1,"£9,698",2019 (19 reg),Hatchback,"4,540 miles",1.0L,72PS,Manual,Petrol
1,Citroen Grand C4 Picasso,"£2,690",2010 (10 reg),MPV,"81,500 miles",1.6L,120PS,Manual,Petrol
2,Citroen Grand C4 Picasso,"£1,495",2008 (08 reg),MPV,"90,800 miles",1.8L,127PS,Manual,Petrol
3,Citroen C3 Pluriel,£990,2009 (09 reg),Convertible,"114,000 miles",1.4L,72BHP,Manual,Petrol
4,Citroen C3 Picasso,"£1,990",2010 (10 reg),MPV,"112,000 miles",1.6L,90PS,Manual,Diesel
...,...,...,...,...,...,...,...,...,...
4507,SEAT Altea Xl,"£4,400",2010 (60 reg),MPV,"69,400 miles",1.6L,105PS,Manual,Diesel
4508,SEAT Ibiza,"£8,079",2016 (16 reg),Hatchback,"24,590 miles",1.0L,75PS,Manual,Petrol
4509,SEAT Ibiza,"£8,079",2016 (16 reg),Hatchback,"24,590 miles",1.0L,75PS,Manual,Petrol
4510,SEAT Ateca,"£14,300",2019 (19 reg),SUV,"44,520 miles",1.0L,113BHP,Manual,Petrol
4511,SEAT Leon,"£10,990",2018 (67 reg),Hatchback,"40,000 miles",1.2L,110PS,Manual,Petrol

In [400]:
at.dtypes

name            object
price           object
year            object
type            object
mileage         object
engine_size     object
power           object
transmission    object
fueltype        object
dtype: object

In [401]:
at

,name,price,year,type,mileage,engine_size,power,transmission,fueltype
0,Citroen C1,"£9,698",2019 (19 reg),Hatchback,"4,540 miles",1.0L,72PS,Manual,Petrol
1,Citroen Grand C4 Picasso,"£2,690",2010 (10 reg),MPV,"81,500 miles",1.6L,120PS,Manual,Petrol
2,Citroen Grand C4 Picasso,"£1,495",2008 (08 reg),MPV,"90,800 miles",1.8L,127PS,Manual,Petrol
3,Citroen C3 Pluriel,£990,2009 (09 reg),Convertible,"114,000 miles",1.4L,72BHP,Manual,Petrol
4,Citroen C3 Picasso,"£1,990",2010 (10 reg),MPV,"112,000 miles",1.6L,90PS,Manual,Diesel
...,...,...,...,...,...,...,...,...,...
4507,SEAT Altea Xl,"£4,400",2010 (60 reg),MPV,"69,400 miles",1.6L,105PS,Manual,Diesel
4508,SEAT Ibiza,"£8,079",2016 (16 reg),Hatchback,"24,590 miles",1.0L,75PS,Manual,Petrol
4509,SEAT Ibiza,"£8,079",2016 (16 reg),Hatchback,"24,590 miles",1.0L,75PS,Manual,Petrol
4510,SEAT Ateca,"£14,300",2019 (19 reg),SUV,"44,520 miles",1.0L,113BHP,Manual,Petrol
4511,SEAT Leon,"£10,990",2018 (67 reg),Hatchback,"40,000 miles",1.2L,110PS,Manual,Petrol

## Data Cleaning

In [402]:
# creating a copy of the dataframe to make changes to
at2 = at.copy()
# splitting up the make and model 
at2['make'] = [str(str(i).split(' ',1)[0]) for i in at['name']]

at2['model'] = [str(str(i).split(' ',1)[-1]) for i in at['name']]

at2.drop('name', axis = 1, inplace = True )

#making year into a number
at2['year'] = [str(i).split(' ',1)[0] for i in at['year']]

#making price into number
at2['price'] = [str(i).replace(',','').replace('£','') for i in at['price']]

#making mileage into a number
at2['mileage'] = [str(i).replace(',','').split(' ')[0] for i in at['mileage']]

#making engine size into a number
at2['engine_size'] = [float(str(i).replace('L','')) for i in at['engine_size']]

#making power into the same unit and into a number
power2 = []
for i in at['power']:
    if 'PS' in str(i):
        power2.append(round(float(str(i).replace('PS',''))*0.986))
    elif 'BHP' in str(i):
        power2.append(round(float(str(i).replace('BHP',''))))
    else:
        power2.append(i)
        
at2['power'] = power2

at2.to_csv('autotrader_clean.csv', index = False)

In [412]:
at2

,price,year,type,mileage,engine_size,power,transmission,fueltype,make,model
0,9698,2019,Hatchback,4540,1.0,71.0,Manual,Petrol,Citroen,C1
1,2690,2010,MPV,81500,1.6,118.0,Manual,Petrol,Citroen,Grand C4 Picasso
2,1495,2008,MPV,90800,1.8,125.0,Manual,Petrol,Citroen,Grand C4 Picasso
3,990,2009,Convertible,114000,1.4,72.0,Manual,Petrol,Citroen,C3 Pluriel
4,1990,2010,MPV,112000,1.6,89.0,Manual,Diesel,Citroen,C3 Picasso
...,...,...,...,...,...,...,...,...,...,...
4507,4400,2010,MPV,69400,1.6,104.0,Manual,Diesel,SEAT,Altea Xl
4508,8079,2016,Hatchback,24590,1.0,74.0,Manual,Petrol,SEAT,Ibiza
4509,8079,2016,Hatchback,24590,1.0,74.0,Manual,Petrol,SEAT,Ibiza
4510,14300,2019,SUV,44520,1.0,113.0,Manual,Petrol,SEAT,Ateca
4511,10990,2018,Hatchback,40000,1.2,108.0,Manual,Petrol,SEAT,Leon

In [80]:
at.dtypes

name             object
price             int64
year              int64
type             object
mileage           int64
engine_size     float64
power            object
transmission     object
fueltype         object
make             object
dtype: object

In [85]:
at

,name,price,year,type,mileage,engine_size,power,transmission,fueltype,make
0,KA Plus,8499,2017,Hatchback,45418,1.2,84,Manual,Petrol,Ford
1,Polo,990,2007,Hatchback,94000,1.2,55,Manual,Petrol,Volkswagen
2,Micra,690,2001,Hatchback,78272,1.0,60,Manual,Petrol,Nissan
3,Golf Plus,600,2009,Hatchback,160000,1.9,103,Manual,Diesel,Volkswagen
4,Fiesta,1395,2007,Hatchback,94000,1.4,79,Manual,Petrol,Ford
...,...,...,...,...,...,...,...,...,...,...
70,Clio,2250,2010,Hatchback,88500,1.2,75PS,Manual,Petrol,Renault
71,Hatch,3750,2010,Hatchback,67565,1.6,98PS,Manual,Petrol,MINI
72,Micra,975,1999,Hatchback,49648,1.3,75BHP,Automatic,Petrol,Nissan
73,Astra,1598,2007,Hatchback,98729,1.6,115BHP,Manual,Petrol,Vauxhall
74,Partner,6750,2013,MPV,74000,1.6,120BHP,Manual,Petrol,Peugeot

In [70]:
j = 1
lmak = []
while True:
    try:
        lmak.append(driver.find_element('xpath',f'/html/body/main/div[1]/section[1]/div[1]/form/ul/li[2]/div/div/div/div[2]/button[{j}]/span[1]').text)
        j += 1
    except:
        break
lmak

['AC',
 'Ak',
 'Abarth',
 'Aixam',
 'Alfa Romeo',
 'Alpine',
 'Alvis',
 'Ariel',
 'Aston Martin',
 'Audi',
 'Austin',
 'BMW',
 'Beauford',
 'Bentley',
 'Bristol',
 'Bugatti',
 'Cfmoto',
 'Cupra',
 'Cadillac',
 'Caterham',
 'Chesil',
 'Chevrolet',
 'Chrysler',
 'Citroen',
 'Corvette',
 'Crendon',
 'Custom Vehicle',
 'DFSK',
 'DS AUTOMOBILES',
 'Dacia',
 'Daewoo',
 'Daihatsu',
 'Daimler',
 'Datsun',
 'Dax',
 'De Tomaso',
 'Dodge',
 'Ferrari',
 'Fiat',
 'Ford',
 'Gbs',
 'GMC',
 'Gwm Ora',
 'Gardener',
 'Great Wall',
 'Hillman',
 'Holden',
 'Honda',
 'Hummer',
 'Hyundai',
 'Infiniti',
 'Isuzu',
 'Iveco',
 'JBA',
 'Jaguar',
 'Jeep',
 'Jensen',
 'Kia',
 'Koenigsegg',
 'LEVC',
 'Lada',
 'Lamborghini',
 'Lancia',
 'Land Rover',
 'Lexus',
 'Leyland',
 'Lincoln',
 'London Taxis International',
 'Lotus',
 'Maxus',
 'MG',
 'MINI',
 'MK',
 'Mnr',
 'Moke',
 'Maserati',
 'Maybach',
 'Mazda',
 'McLaren',
 'Mercedes-Benz',
 'Mercury',
 'Microcar',
 'Mitsubishi',
 'Morgan',
 'Morris',
 'Nardini',
 'Nissan',
 'Noble',
 'Opel',
 'Packard',
 'Panther',
 'Perodua',
 'Peugeot',
 'Pilgrim',
 'Polaris',
 'Polestar',
 'Pontiac',
 'Porsche',
 'Proton',
 'Radical',
 'Rage',
 'Reliant',
 'Renault',
 'Reva',
 'Robin Hood',
 'Rolls-Royce',
 'Rover',
 'Royale',
 'SEAT',
 'SKODA',
 'Saab',
 'Shelby',
 'Smart',
 'Spyker',
 'Ssangyong',
 'Subaru',
 'Sunbeam',
 'Suzuki',
 'TVR',
 'Tesla',
 'Toyota',
 'Triumph',
 'Ultima',
 'Vauxhall',
 'Volkswagen',
 'Volvo',
 'Westfield',
 'Yamaha',
 'Zimmer']

In [29]:
makes = pd.DataFrame({'Makes':makes})

In [31]:
makes.to_csv('makes.csv')

In [56]:
driver.find_element('xpath',f'/html/body/main/div[1]/section[1]/div[1]/form/ul/li[2]/div/button/span/span[1]').click()

In [63]:
lmak = list(makes['Makes'])

In [71]:
len(lmak)

129

In [415]:
df1 = pd.read_csv('autotrader_clean.csv')
df2 = pd.read_csv('autotrader_clean2.csv')
df3 = pd.read_csv('autotrader_clean3.csv')
df = pd.concat([df1,df2,df3])

In [432]:
df['make'].unique()

array(['AC', 'AK', 'Abarth', 'Audi', 'Austin', 'Bugatti', 'Cfmoto',
       'CUPRA', 'Caterham', 'Chesil', 'Chevrolet', 'Dacia', 'Daewoo',
       'Daihatsu', 'De', 'Dodge', 'Ford', 'GBS', 'GMC', 'Gardener',
       'Great', 'Hyundai', 'Infiniti', 'Isuzu', 'Levc', 'JBA', 'Jaguar',
       'Lada', 'Lamborghini', 'Lancia', 'Land', 'Leyland', 'Lincoln',
       'London', nan, 'Lotus', 'MG', 'Mercedes-Benz', 'Mercury',
       'Microcar', 'Mitsubishi', 'Panther', 'Perodua', 'Toyota', 'BMW',
       'Nissan', 'Porsche', 'Volkswagen', 'Volvo', 'Vauxhall', 'Citroen',
       'Honda', 'KIA', 'MINI', 'Mazda', 'Mazda5', 'Mazda2', 'Mazda3',
       'Mazda6', 'MAZDA', 'Peugeot', 'SKODA', 'SEAT'], dtype=object)

In [455]:
df2.to_csv('autotrader_all.csv')

In [424]:
'MAZDA5'[:5].capitalize()

'Mazda'

In [449]:
make2 = []
for i in df['make']:
    if 'mazda' in (str(i).lower()):
        make2.append(str(i)[:5].capitalize())
    else:
        make2.append(i)
make2

['AC',
 'AC',
 'AC',
 'AK',
 'Abarth',
 'Abarth',
 'Abarth',
 'Abarth',
 'Abarth',
 'Abarth',
 'Abarth',
 'Abarth',
 'Abarth',
 'Abarth',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 'Audi',
 ...]

In [450]:
make2[11700]

'Mazda'

In [451]:
df2 = df.copy()

In [452]:
df2['make'] = make2

In [460]:
x['make'].unique()

array(['AC', 'AK', 'Abarth', 'Audi', 'Austin', 'Bugatti', 'Cfmoto',
       'CUPRA', 'Caterham', 'Chesil', 'Chevrolet', 'Dacia', 'Daewoo',
       'Daihatsu', 'De', 'Dodge', 'Ford', 'GBS', 'GMC', 'Gardener',
       'Great', 'Hyundai', 'Infiniti', 'Isuzu', 'Levc', 'JBA', 'Jaguar',
       'Lada', 'Lamborghini', 'Lancia', 'Land', 'Leyland', 'Lincoln',
       'London', nan, 'Lotus', 'MG', 'Mercedes-Benz', 'Mercury',
       'Microcar', 'Mitsubishi', 'Panther', 'Perodua', 'Toyota', 'BMW',
       'Nissan', 'Porsche', 'Volkswagen', 'Volvo', 'Vauxhall', 'Citroen',
       'Honda', 'KIA', 'MINI', 'Mazda', 'Peugeot', 'SKODA', 'SEAT'],
      dtype=object)

In [459]:
x = pd.read_csv('autotrader_all.csv',index_col = 0)

In [461]:
x.dropna()

,price,year,type,mileage,engine_size,power,transmission,fueltype,make,model
0,89995.0,2001.0,Convertible,14400.0,4.9,225.0,Manual,Petrol,AC,Cobra
4,19698.0,2020.0,Convertible,37000.0,1.4,160.0,Manual,Petrol,Abarth,595
5,9800.0,2016.0,Hatchback,88935.0,1.4,160.0,Manual,Petrol,Abarth,595
6,7950.0,2014.0,Hatchback,53000.0,1.4,135.0,Manual,Petrol,Abarth,595
7,5594.0,2009.0,Hatchback,25000.0,1.4,160.0,Manual,Petrol,Abarth,500
...,...,...,...,...,...,...,...,...,...,...
4507,4400.0,2010.0,MPV,69400.0,1.6,104.0,Manual,Diesel,SEAT,Altea Xl
4508,8079.0,2016.0,Hatchback,24590.0,1.0,74.0,Manual,Petrol,SEAT,Ibiza
4509,8079.0,2016.0,Hatchback,24590.0,1.0,74.0,Manual,Petrol,SEAT,Ibiza
4510,14300.0,2019.0,SUV,44520.0,1.0,113.0,Manual,Petrol,SEAT,Ateca
4511,10990.0,2018.0,Hatchback,40000.0,1.2,108.0,Manual,Petrol,SEAT,Leon